.modal {

  &-header {
    p {
      margin-top: 12px;
      color: #47A9EB;
      a {
        text-decoration: underline;
      }
    }

    .btn-close {
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
}
